// Custom.scss
// Option A: Include all of Bootstrap


// Include any default variable overrides here (though functions won't be available)
$primary-bg-subtle: #758f90;
$body-tertiary-bg: #b8cbbb;
$primary: #8cba93;


@import "../node_modules/bootstrap/scss/bootstrap";

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 10px;
}

//.bg-body-tertiary {
//  background-color: #6f42c1;
//}

.nav-title {
  color: #ec9d64;
}

.content-bg-1 {
 //background-color: rgba(134,255,84,0.5);
 // background-color: rgba(219,242, 181, .9);
  background-color: rgba(50,200,200,0.1);
}

.logo-header {
  color: #481e3f;
}

.content-bg-2 {
}

.nav-link:hover {
  color: #451b2d;
}

.sub-title {
  color: #2e2524;
}

.social-phone {
  color: #2e2524;
  margin:auto;
}

.separator-1 {
  background-color: #769079;
  height:0px;
}

.separator-2 {
  background-color: rgba(120, 150, 120, .2);
  height:10px;
}

.social-icon {
  height: 26px;
  width: 26px;
  color: #2e2524;
}

.block-spam {
  display: none;
}

.bg3 {
  background-color: #fcf3dd;
  //background-image: url("../assets/bglg1.png");
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
  width:40px;
  height: 40px;
  color:white;
  margin-left: 10px;
  margin-top:10px;
}

// Then add additional custom code here